.videorow{
    display:flex;
    margin-bottom: 30px;
    max-width: 700px;
}
.videorow_>img{
    object-fit: contain;
    width: 246px;
    height: 138px;
}
.videorow_text{
    margin-left: 14px;
    
}
.videorow_description{
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

.videorow_headline{
    font-size: 12px;
    color: #606060;
}
.videorow{
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}
.videorow > img{
    object-fit: contain;
}